In [1]:
import os
from pprint import pprint
import pandas as pd
import numpy as np
import itertools
import sklearn.datasets as datasets
import ndg_tools
from ndg_tools.sklearn.vectorizers import FreqVectorizer, VaderVectorizer
from ndg_tools import language as lang, utils, plotting

DATA_HOME = "test_data"
os.makedirs(DATA_HOME, exist_ok=True)
rng = np.random.default_rng(359)

%load_ext autoreload
%autoreload 2

%load_ext nb_black

ndg_tools

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ndgig\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package universal_tagset to
[nltk_data]     C:\Users\ndgig\AppData\Roaming\nltk_data...
[nltk_data]   Package universal_tagset is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ndgig\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
rng = np.random.default_rng(15)
df = np.zeros(shape=(10 ** 4, 10), dtype="int64")
df[rng.integers(df.shape[0], size=100), -1] = 1
df[rng.integers(df.shape[0], size=3000), -1] = 2
df[rng.integers(df.shape[0], size=500), -1] = 3
columns = [f"feat_{i}" for i in range(df.shape[1])]
columns[-1] = "tar"
df = pd.DataFrame(df, columns=columns)
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,tar
0,0,0,0,0,0,0,0,0,0,2
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,2
9997,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0

In [29]:
df["tar"].value_counts()

0    6961
2    2485
3     484
1      70
Name: tar, dtype: int64

In [168]:
utils.stratified_sample(df, "tar", 50, replace=True)["tar"].value_counts(1)

0    0.30
2    0.26
1    0.24
3    0.20
Name: tar, dtype: float64

In [163]:
df.sample(50)["tar"].value_counts(1)

0    0.72
2    0.26
3    0.02
Name: tar, dtype: float64